<h3>Repsonses is simply that, it will return any response code you request</h3>


Try: <%= link_to('404', response_path(404)) %> <br>
Try: <%= link_to('503', response_path(503)) %> <br>
Try: <%= link_to('200', response_path(200)) %> <br>
